.slider-container {
    position: relative;
    width: 318px;
    height: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.3s ease;
    height: 100%;
}

.slide {
    flex: 0 0 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.slide.active {
    opacity: 1;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}